/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul,
li,
a {
  list-style: none;
  text-decoration: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

section {
  width: 100%;
  height: 225px;
  position: relative;
  z-index: 1000;
  background: url("../images/pattern-bg.png") no-repeat center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

.titulo {
  font-size: 2.3em;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  padding: 32px 0;
  color: #fff;
}

.barra-de-pesquisa {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 80%;
  margin-bottom: 20px;
}

input {
  height: 45px;
  width: 85%;
  border: none;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  outline: none;
  font-size: 1.2em;
}

button {
  height: 45px;
  width: 15%;
  border: 0px;
  background: url("../images/icon-arrow.svg") no-repeat center center, #000;
  color: #fff;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  outline: none;
  cursor: pointer;
}

button:hover {
  background: url("../images/icon-arrow.svg") no-repeat center center,
    hsl(0, 0%, 17%);
}

.sessao-informacao {
  width: 80%;
  background-color: #fff;
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  padding: 10px 0px;
  border-radius: 10px;
}

.informacao-wrapper {
  text-align: left;
  padding-top: 16px;
  padding-bottom: 16px;
}

.informacao-wrapper h2 {
  margin-bottom: 10px;
  font-size: 0.875em;
  font-weight: 400;
  font-family: "Rubik", sans-serif;
  color: hsl(0, 0%, 59%);
  text-align: left;
}

.ip_address,
.localizacao-valor,
.horario-valor,
.isp-valor {
  font-size: 1.2em;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  text-align: left;
  color: hsl(0, 0%, 17%);
}

main {
  width: 100%;
}
#map {
  min-height: 450px;
}

.attribution {
  height: 70px;
  width: 100%;
  background: #fff;
  position: absolute;
  z-index: 50000;
}

.footer-container {
  max-width: 960px;
  margin: 0 auto;
  padding: 16px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-container p,
a {
  font-size: 1.25em;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  text-align: center;
}

.footer-container p {
  text-align: center;
  color: hsl(0, 0%, 17%);
}

.footer-container a {
  color: #5d81eb;
}

@media only screen and (min-width: 300px) {
  .barra-de-pesquisa {
    width: 75%;
  }
  .sessao-informacao {
    width: 50%;
    flex-direction: column;
    align-items: center;
  }
  .sessao-informacao div {
    margin: 0 20px;
  }
  .informacao-wrapper {
    text-align: center;
  }
}
@media only screen and (min-width: 768px) {
  .barra-de-pesquisa {
    width: 50%;
  }
  .sessao-informacao {
    width: 30%;
  }
}
@media only screen and (min-width: 992px) {
  section {
    background-size: 100% auto;
  }
  .barra-de-pesquisa {
    width: 50%;
  }
  input {
    width: 90%;
  }
  button {
    width: 10%;
  }
  .sessao-informacao {
    height: 136px;
    padding-top: 25px;
    padding-bottom: 25px;
    width: 80%;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .informacao-wrapper {
    height: 86px;
  }
  .sessao-informacao div {
    width: 25%;
    padding-right: 20px;
    padding-left: 20px;
    border-right: 1px solid hsl(0, 0%, 59%);
    text-align: center;
  }

  .sessao-informacao div:nth-child(4) {
    border-right: none;
  }
  .isp {
    border: none;
  }
}
